[[extend "map.html"]]

[[block files]]
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.css"
    type="text/css" />
[[end]]

[[block map]]
<div id="maps">
    <div id="slider">
        <div id="map1" class="map"></div>
        <div id="map2" class="map"></div>
    </div>
</div>
[[end]]

[[block scripts]]
<script>
    [[include "../static/map.js"]]
    [[include "../static/slider.js"]]
</script>
[[end]]