<!-- NOT WORKING. Requires correct CSS; javascript to load map2 and link the two maps -->

[[extend "map.html"]]

[[block map]]
<style>
    #comparison-container {
        width: 100%;
    }

    #map1 {
        height: 100%;
        width: 50%;
        float: left;
    }

    #map2 {
        height: 100%;
        width: 50%;
        float: left;
    }
</style>

<div id="comparison-container">
    <div id="map1" class="map"></div>
    <div id="map2" class="map"></div>
</div>

<div id="rightblock">
    <div id="filter-group">[[=map1.layer_selector]]</div>
    <div id="legends">[[=map1.legends]]</div>
</div>

<script>
    [[include "../static/map.js"]]
</script>
[[end]]